# Terraform state files – NEVER commit these
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Sensitive variable files
terraform.tfvars
*.auto.tfvars

# Crash log files
crash.log

# SSH private keys
March26.pem
-----BEGIN RSA PRIVATE KEY-----
MIIEpAIBAAKCAQEAuXqleG5GIzGBqZF8rxmRXvqFd3bIP2VJedquz0x6eSgYt0rB
hSsdpEYPh1ub1KDTUjgL3Gv9ChRLdwLsgAsUcB2edfIvpXbc/mqDba1OYXHuIYoW
kQUk8bBlAktbfyU1nbAwitmLS8BpQGgOg0h5U1TK/lzThp8ks+2QhqePNK/3jWrj
qyBCmff8F6I85XWZcZxzv6CxtrD6vMowZfa3zXgmQZUaJsO8CQewuSEsVhQ5B2S1
V30kmLkgzb2F2c32C6ul3oI/uWqCKRXgO2CvZtZLh3NPLaiWqIfDTSjUa/Eexo8R
3OkCKti9BBkxeuQu4xFkuQKx971a/RGive4EnQIDAQABAoIBAGiKMf1g2fM4EgbK
02W1mXPY66TbtB3XLsSZdvGr/1OOP+//GHfAR2KxgkseXQRI6RJsOHMyAlrN+YLI
iRfaJtjSON/tcuFlz0UuL4l/pq/RkRAiTnnKVnpKm4PhiV5uUHviNFnuJ0640hnV
DGj+TjOjlQ4sr6QuyncHLPBYPKTKmiii6KRUR71/WdXsAuvOzbXAQbZMbNYsQKS+
GQp6VePs4RbNIVYdnk2Fij6988Uz+TS05BH4WfFPMXA7+b3zrHgErevBjI92tR/U
SAHEjV893MZbEAjJDOpZAqS0wtvyg8eTHDzcrWrWwOsje+ZMNsyJY0RkK2rUEw3L
MB6E2FkCgYEA85rpMLpuqmTVtM5zWXImWP6JOKXH2M6g8hqsoXLHuV2lSFxhUdBY
ezGoxA0nqtD4vmuVaUjLeg+wOsaDl3LX09viNBxtLnH2PT/tZKrHLJ3cwoPTrCjZ
DY6RlONW5jlsxgrN17gSA80qK9Y+bxIRt3zIC7dOFHgbwKrxwH3fKt8CgYEAwuqc
vzZokvEfu465pVAB4fRtQx9nhnTs0iqPA0EPMa3qep/lOyBTk2BDhdWnStuWmpvv
D6++J9PrEHmK5Nar/N/z/AFgJpOZG5nggNh3JDLWRcXKXiTrVD1O0OGAJzeC5KHs
6yLS2OOUHzNJB+WAakgjLPi6OvQNyguclBqD/AMCgYEA0q7fju0uWN/sk/sZd/pp
f/5j30JBnRjXyYuYUelbIs4C7Jo48PEoFSPVuflGnU0uVEHnbq8ui9qVp7+Yf5sr
XmeFM1yCcPDO7hojzjSFHelJzFEG+JY7YqYy8nnL5kEz+fPOIwtnSTJfjpo0VQtj
lzWsLbXTKZDXL8KoYrp6EDECgYBYJpCjLXEX23LVeRPefpOLY+ayL5a7SU/9MIAj
IZ5EgnoD4SJjnhgOE8AV2+1fvnWbEKCKQJnIG2A4wC8flTKNF5+ZPeoFKEVbJTlS
LBOdzFv5jB0cfKftHhjyALnbgpBw5AZoxQQEUNAhWClUJ+fuqRc3dHmMxekikiPL
Gz7LjwKBgQCa/zLAHB1F6x5jSe1LvlWgAN8f4lAHIEOTSk3JNf48JaVojxLmUZEb
i9gfV9zYbye5bb3eA8RQin6tKPD74CratDHfNcYy/cXUPPGHgdPZNpxJ5knSQtBu
MYckKUJn0r1ZmUEu38Q12v7JTqhVcU8ObPPFKXf8ikAI8otDU3w4SQ==
-----END RSA PRIVATE KEY-----
March26ppk.ppk
PuTTY-User-Key-File-3: ssh-rsa
Encryption: none
Comment: imported-openssh-key
Public-Lines: 6
AAAAB3NzaC1yc2EAAAADAQABAAABAQC5eqV4bkYjMYGpkXyvGZFe+oV3dsg/ZUl5
2q7PTHp5KBi3SsGFKx2kRg+HW5vUoNNSOAvca/0KFEt3AuyACxRwHZ518i+ldtz+
aoNtrU5hce4hihaRBSTxsGUCS1t/JTWdsDCK2YtLwGlAaA6DSHlTVMr+XNOGnySz
7ZCGp480r/eNauOrIEKZ9/wXojzldZlxnHO/oLG2sPq8yjBl9rfNeCZBlRomw7wJ
B7C5ISxWFDkHZLVXfSSYuSDNvYXZzfYLq6Xegj+5aoIpFeA7YK9m1kuHc08tqJao
h8NNKNRr8R7GjxHc6QIq2L0EGTF65C7jEWS5ArH3vVr9EaK97gSd
Private-Lines: 14
AAABAGiKMf1g2fM4EgbK02W1mXPY66TbtB3XLsSZdvGr/1OOP+//GHfAR2Kxgkse
XQRI6RJsOHMyAlrN+YLIiRfaJtjSON/tcuFlz0UuL4l/pq/RkRAiTnnKVnpKm4Ph
iV5uUHviNFnuJ0640hnVDGj+TjOjlQ4sr6QuyncHLPBYPKTKmiii6KRUR71/WdXs
AuvOzbXAQbZMbNYsQKS+GQp6VePs4RbNIVYdnk2Fij6988Uz+TS05BH4WfFPMXA7
+b3zrHgErevBjI92tR/USAHEjV893MZbEAjJDOpZAqS0wtvyg8eTHDzcrWrWwOsj
e+ZMNsyJY0RkK2rUEw3LMB6E2FkAAACBAPOa6TC6bqpk1bTOc1lyJlj+iTilx9jO
oPIarKFyx7ldpUhcYVHQWHsxqMQNJ6rQ+L5rlWlIy3oPsDrGg5dy19Pb4jQcbS5x
9j0/7WSqxyyd3MKD06wo2Q2OkZTjVuY5bMYKzde4EgPNKivWPm8SEbd8yAu3ThR4
G8Cq8cB93yrfAAAAgQDC6py/NmiS8R+7jrmlUAHh9G1DH2eGdOzSKo8DQQ8xrep6
n+U7IFOTYEOF1adK25aam+8Pr74n0+sQeYrk1qv83/P8AWAmk5kbmeCA2HckMtZF
xcpeJOtUPU7Q4YAnN4LkoezrItLY45QfM0kH5YBqSCMs+Lo69A3KC5yUGoP8AwAA
AIEAmv8ywBwdReseY0ntS75VoADfH+JQByBDk0pNyTX+PCWlaI8S5lGRG4vYH1fc
2G8nuW293gPEUIp+rSjw++Aq2rQx3zXGMv3F1Dzxh4HT2TacSeZJ0kLQbjGHJClC
Z9K9WZlBLt/ENdr+yU6oVXFPDmzzxSl3/IpACPKLQ1N8OEk=
Private-MAC: fc7c03f07d19c80c77ec6988bb3d4ac2dd23a2ae6aefad38726384d000a78361

# OS files
.DS_Store
Thumbs.db
